[MASTER]
# Use multiple processes to speed up Pylint (--go-faster)
jobs=4

[MESSAGES CONTROL]
# R0903: Too few public methods (%s/%s)
# R0913: Too many arguments
# C0103: Invalid name
disable=R0903,R0913,C0103
